body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
header, main {
  display: inline-block;
  width: 1400px;
  margin-left: calc(50% - 700px);
}
header {
  margin-top: 40px;
  
}
header > img {
  object-position: left;
  object-fit: contain;
  width:100px;
  height: 70px;
  float: left;
  
}
header > nav {
  margin-top: 23px;
  float: right;
  
}
nav > a {
  font-size: 20px;
  line-height: 1.2em;
  margin-left: 80px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

nav > a:first-child {
  margin-left: 0px;
}
main {
  margin-top: 60px;
}
main > div {
  margin-top: 80px;
  width: 50%;
  float: left;
}
div > h1 {
  margin: 0;
  line-height: 1.1em;
  font-size: 80px;
  font-weight: 100;
}
div > h1:nth-child(2) {
  font-weight: 600;
}
div > p {
  font-weight: 100;
  font-size: 16px;
  margin-bottom: 2.5em;
}
div > a {
  padding: 0.8em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  border-radius: 1.4em;
  font-size: 14px;
  line-height: 1.1em;
  color: white;
  background-color: #51c0e1;
  text-decoration: none;
  margin-right: 5px;
  font-weight: 600;
  border: 1px solid #51c0e1;
}
div > a:last-child {
  color: black;
  background-color: white;
}
main > img {
  width: 40%;
  float: right;
}