
main {
  background-color: rgb(127, 102, 102);
  width: 100%;
}

header {
  background-color: aquamarine;
}
.pawz {
  background-color: antiquewhite;
}
.meniu {
  background-color: blueviolet;
}
.puslapis {
  background-color: brown;
}
.kaire {
  background-color: pink;
}
.cat-foto {
  background-color: orange;
}