body, main {background-color: rgb(240, 241, 241);}
main{
  width: 800px;
  display: inline-block;
  margin-left: calc((100% - 800px)/ 2);
  /* margin-left: calc(50% - 400px); TRUMPESNIS UZRASTMAS */
}

header{
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

header>img {
  float: left;
  height: 35px;
}

nav {
  float: right;
  margin-top: 6px;
  
}

a {
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  color: black;
}
a+a {
  margin-left: 22px;
}
a:hover {
  color: orange;
  text-decoration: underline;
}

section {
  display: inline-block;
  width: 100%;
  margin-top: 170px;

}
div{
  float: left;
  width: 46%;
  margin-top: 35px;

}

h1 {
  font-size: 50px;
  display: inline-block;
  margin-bottom: 0px;
}

p {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 25px;
}

section>img{
  float: right;
  width: 46%;
}